.jumbotron { 
margin-bottom:0;
background-color: #08355c;
font-weight: 900;
}

#Year {
-webkit-user-select:text
}

#Month {
-webkit-user-select:text
}

#Date1 {
-webkit-user-select:text
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 650px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set gray background color and 100% height */
#leftRow {
  padding-top: 20px;
  background-color: white;
  max-height: 650px;
  overflow-y: auto;
}

.table caption { 
caption-side: top;
font-size; 24px;
font-weight: 700;
color: black; 
text-align: center;
}

.table-hover tbody tr:hover td {
  background-color: rgba(255, 255, 204, 1);
}

.table tbody tr th {
  top: -10px;
  position: sticky;
  background-color: black;
  color: white;
  opacity: 100%;
}

