#heading1 {
  color: black;
  font-weight: bold;
  text-align: center;
}

button {
  text-align: center;
}

Time {
  color: black;
  font-weight: normal;
  text-align: center;
}

table th {
    width: auto !important;
}

body {
	text-align: center
	}
	
#tableAsos {
    width: 800px;
  	margin: auto;
}

#th {
  height: 400px;
}
